{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static "fibo/style.css" %}">
  <title>Grab</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="boxy col-md-3 shadow-all text-center centered vertical-center">
        <h3 class="cb">CB Available {{cb1}}</h3>
        <h1 class="heady"><u>Taxi</u></h1>
        <br>
        <div class="container-fluid">
          <form id="fiboform1" method="POST" action="form/1/">
            <div class="container-fluid">
              <label for="number1">Amount</label>
              <input id="number1" type="number" name="number"
                  max="10000" min="1" required="required" pattern="[0-9]{1,20}">
            </div>
            <div class="container-fluid">
              <input class="pay btn btn-md btn-info" type="submit" name="" value="Pay">
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
      <div class="boxy col-md-3 shadow-all text-center centered vertical-center">
        <h3 class="cb">CB Available {{cb2}}</h3>
        <h1 class="heady"><u>Food</u></h1>
        <br>
        <div class="container-fluid">
          <form id="fiboform1" method="POST" action="form/2/">
            <div class="container-fluid">
              <label for="number2">Amount</label>
              <input id="number2" type="number" name="number" max="10000" min="1" required="required" pattern="[0-9]{1,20}">
            </div>
            <div class="container-fluid">
              <input class="pay btn btn-md btn-info" type="submit" name="" value="Pay">
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
      <div class="boxy col-md-3 shadow-all text-center centered vertical-center">
        <h3 class="cb">CB Available {{cb3}}</h3>
        <h1 class="heady"><u>Delivery</u></h1>
        <br>
        <div class="container-fluid">
          <form id="fiboform1" method="POST" action="form/3/">
            <div class="container-fluid">
              <label for="number3">Amount</label>
              <input id="number3" type="number" name="number" max="10000" min="1" required="required" pattern="[0-9]{1,20}">
            </div>
            <div class="container-fluid">
              <input class="pay btn btn-md btn-info" type="submit" name="" value="Pay">
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
  </body>
  </html>
